html{
  scroll-snap-type: y mandatory;
}
.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos{
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/*for hide the scrollvar for only videos*/
.app__videos::-webkit-scrollbar{
  display: none;/*for chr,saf,opera*/
}

.app__videos{
  -ms-overflow-style: none;/*for EI and Edge*/
  scrollbar-width: none;/*Firefox*/
}